@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Spartan;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: 2fr 1fr;
      grid-template-rows: 2fr 1fr;
      grid-template-areas: "nav nav nav nav main main main" "dark dark content content content light light";
}

.wrapper header {
  -webkit-transition: background-image 2000ms ease-in-out;
  transition: background-image 2000ms ease-in-out;
  position: relative;
  background: url(../img/desktop-image-hero-1.jpg) no-repeat center center/cover;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: nav;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 2em;
}

.wrapper header .fa-bars {
  display: none;
  color: white;
  cursor: pointer;
  z-index: 3;
}

.wrapper header div.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
  font-size: 1.2em;
}

.wrapper header div.logo a {
  color: white;
}

.wrapper header div.logo, .wrapper header nav {
  height: 40px;
}

.wrapper header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 25px;
}

.wrapper header nav a {
  margin-left: 25px;
  margin-bottom: 0;
  font-size: 0.8em;
  color: white;
  font-weight: 700;
}

.wrapper header nav a.links {
  -webkit-transition: border-bottom 100ms ease-in-out;
  transition: border-bottom 100ms ease-in-out;
}

.wrapper header nav a.links:hover {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  padding-bottom: 5px;
  border-bottom: 3px solid white;
}

.wrapper main {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-area: main;
  padding: 2em 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.wrapper main h1, .wrapper main p, .wrapper main > a {
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.wrapper main h1 {
  font-weight: bold;
}

.wrapper main p {
  line-height: 1.4;
  margin: 2em 0;
  text-align: justify;
  font-size: 0.9rem;
  font-weight: 500;
  color: gray;
}

.wrapper main > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-weight: 600;
}

.wrapper main > a:hover {
  color: gray;
}

.wrapper main > a:hover > i {
  -webkit-transform: translateY(-2px) translateX(10px);
          transform: translateY(-2px) translateX(10px);
  color: gray;
}

.wrapper main > a i {
  margin-left: 15px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.wrapper main > span {
  font-size: 0.8rem;
  margin: 0.6em;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.wrapper main > span span {
  font-weight: 600;
}

.wrapper main > span:hover {
  text-decoration: underline;
}

.wrapper .img1 {
  background: url(../img/image-about-dark.jpg) no-repeat center center/cover;
  width: 100%;
  height: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: dark;
}

.wrapper .img2 {
  background: url(../img/image-about-light.jpg) no-repeat center center/cover;
  width: 100%;
  height: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-area: light;
}

.wrapper .content {
  background: white;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 3em;
}

.wrapper .content h3 {
  font-size: 0.8rem;
}

.wrapper .content p {
  font-size: 0.8rem;
  text-align: justify;
  line-height: 1.4;
  font-weight: 600;
  color: gray;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 100%;
}

.controls .control {
  z-index: 1;
  width: 97px;
  height: 97px;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.controls .control:hover {
  background: #111111;
}

.controls .control i {
  color: white;
  font-size: 50px;
}

.hamburger {
  display: none;
  margin: 5px 5px;
  width: 30px;
  height: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  z-index: 3;
}

.hamburger .bar {
  height: 5px;
  width: 30px;
  background: white;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

@media (max-width: 1050px) {
  html {
    width: 100vw;
  }
  body {
    width: 100%;
    height: unset;
  }
  .wrapper {
    width: 100vw;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "nav" "main" "dark" "content" "light";
    -ms-grid-rows: 500px 350px 300px 250px 300px;
        grid-template-rows: 500px 350px 300px 250px 300px;
  }
  .wrapper header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: nav;
    position: relative;
  }
  .wrapper header nav {
    padding-left: 2em;
    display: none;
    position: absolute;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-transform: translateX(-25px);
            transform: translateX(-25px);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: white;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
  }
  .wrapper header nav a.links {
    color: grey;
  }
  .wrapper header nav a.links:hover {
    border-bottom: 3px solid grey;
  }
  .wrapper header .fa-bars {
    display: inline;
  }
  .wrapper header .logo {
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .wrapper main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: main;
  }
  .wrapper .light {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: light;
  }
  .wrapper .content {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: content;
  }
  .wrapper .dark {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: dark;
  }
  .wrapper .light, .wrapper .dark {
    width: 100%;
  }
  .wrapper header, .wrapper main, .wrapper .content, .wrapper .light, .wrapper .dark {
    width: 100%;
  }
  .controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 0;
    left: unset;
    right: 0;
  }
  .controls .control {
    height: 80px;
    width: 80px;
  }
  .wrapper header nav.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .wrapper header nav.show i.fa-bars {
    color: gray;
  }
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=home.css.map */